*

!.gitignore
!.profile
!.gdbinit
!.bashrc
!wezterm/
!wezterm/*
!hypr/
!hypr/*
!nvim/
!nvim/*
!nvim/lua/
!nvim/lua/*
!nvim/lua/byda/
!nvim/lua/byda/*
!nvim/lua/byda/lazy/
!nvim/lua/byda/lazy/*
!nvim/lua/byda/config/
!nvim/lua/byda/config/*

